<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/static/js/game.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=VT323&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/game.css" />
    </head>
    <body>
        <h1>Hello Gamers</h1>
        <div id="gameInfo">
            <p>Welcome to our new Adventure!<br>
            {{ adventure.begin() }}
            </p>
        </div>
        <div>
            {% for command in adventure.standard_commands %}
                <button type="submit" class="standard-command-button">{{ command }}</button>
            {% endfor %}
        </div>
        <form id="commandForm" ><input id="command" type="text"/></form>
    </body>
</html>