body {
    background: black;
    color: white;
    font-family: "Space Mono", monospace;
    padding: 30px;
}

input {
    background: #333333;
    caret-color: white;
    caret-shape: underscore;
    border: 1px solid gray;
    color: lightblue;
    font-family: "Space Mono", monospace;
    font-size: 1.2em;
    margin: 1em 0;

}

button {
    background: #333333;
    caret-color: forestgreen;
    caret-shape: underscore;
    color: forestgreen;
    font-family: "Space Mono", monospace;
    font-size: 1em;
    margin: 0.3em 0;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

mark {
    background-color: transparent;
    color: orange;
    font-weight: bold;
}